@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome to FloodWatch</h1>
    <p class="lead">Use the navigation bar to create sensors and view sensor readings.</p>
</div>
